<div class="column is-one-third">
  <% if customer.image.present? %>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag customer.image %>
      </figure>
    </div>
  <% end %>
  <div class="card customer">
    <div class="card-content">
    <p class="title is-4">
        <%= customer.full_name %>
    </p>
    <ul>
      <% if customer.email_address.present? %>
        <li>
          <strong>Email:</strong> <%= customer.email_address %>
        </li>
      <% end %>
      <li>
        <strong>Phone Number:</strong> <%= customer.phone_number%>
      </li>
      <li>
        <strong>Notes:</strong> <%= customer.Notes %>
      </li>
    </ul>
    </div>
  </div>
</div>
